*.log
arrow/
.ipynb_checkpoints/
my_project/
__pycache__/
.envrc
.env
credentials.json
.DS_Store
pgpass.conf
CSV/
mylog.txt
test
sheets_processed.txt
.firebaserc
aivahub-codebase/
firebase.json
functions/
google-services.json
myenv/
schooapp2022.json
cloud-sql-proxy
psql-key.pem
phoenix.crt
review-tool-388312-802c6fde205d.json
templates/
dump.rdb
certificate_file.crt
private_key_file.key
server-ca.pem
server.pem
csr.csr