*.log
arrow/
.ipynb_checkpoints/
my_project/
__pycache__/
.envrc
.env
credentials.json
.DS_Store
pgpass.conf
CSV/
mylog.txt
test
sheets_processed.txt
.firebaserc
aivahub-codebase/
firebase.json
functions/
google-services.json
myenv/
schooapp2022.json
cloud-sql-proxy
psql-key.pem
phoenix.crt
review-tool-388312-802c6fde205d.json
templates/
dump.rdb
certificate_file.crt
private_key_file.key
server-ca.pem
server.pem
csr.csr
chat_gpt.py
get_filename.py
psql_connect.py
t60.py
a_record.py
aivahub.cer
bf1d4c56e743d775.crt
bf1d4c56e743d775.pem
bleep-censorship-sound-wav-74691.mp3
csv-75.csv
gd_bundle-g2-g1.crt
generated-csr.txt
generated-private-key.txt
ping_alert.py
server_bundle.crt
nohup.out
csv-gpt-20.csv
certs/
csv-gpt-21.csv
myproject/
gpt-4-0314.txt
fine_tuned_model.pt